<div class="row">
    <div *ngFor="let gif of resultados"
        class="col-md-4 col-sm-6 animate__animated animate__fadeIn animate__faster 500ms">
        <div class="p-1 mt-2 card bg-secondary-subtle rounded-4">
            <img [src]="gif.images.downsized_medium.url" [alt]="gif.title" class="rounded card-img-top img-fluid">
            <div class="card-body">
                <!-- <p class="card-text">{{gif.title}}</p> -->
                <div class="text-center">
                    <button class="btn btn-primary" (click)="descargarGif(gif.images.downsized_medium.url)">
                        <mat-icon>cloud_download</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>