<div class="text-black col">
  <app-busqueda></app-busqueda>
</div>



<div class="container">
  <div class="p-3 row">


  </div>

  <hr>

  <div class="row">
    <div class="col">
      <app-resultados></app-resultados>
    </div>
  </div>

</div>

<div>

  <footer class="w-full py-4 mt-2 bg-black">
    <div class="text-center">

      <p class="text-white">
        <img [src]="imageUrl" alt="My Image" class="bi img-fluid rounded-circle" style="width: 2rem; height: 2rem;">
        <a href="https://github.com/AlexisZambranoZ">
          AlexisZambranoZ
        </a>
      </p>
      <p class="text-white">
        <a href="https://giphy.com/">App elaborada con Giphy</a>
      </p>

    </div>
  </footer>

</div>